@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --pj-100: #252525;
    --pj-200: #363636;
    --pj-300: #5e5e5e;
    --pj-400: #efefef;
}

.dark {
    --pj-100: #ffffff;
    --pj-200: #d3d3d3;
    --pj-300: #afafaf;
    --pj-400: #0c0c0c;
}